

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #171923;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes bounce-once {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-30%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-once-animation {
  animation: bounce-once 0.6s;
}

@keyframes wobble {
  0%, 100% { transform: rotate(0deg); }
  15% { transform: rotate(-15deg); }
  30% { transform: rotate(10deg); }
  45% { transform: rotate(-10deg); }
  60% { transform: rotate(5deg); }
  75% { transform: rotate(-2deg); }
}

.animate-wobble {
  animation: wobble 0.8s ease-in-out;
}

@keyframes slow-fade {
  0%, 100% {
    border-top-color: #6b7280; /* gray-500 */
  }
  50% {
    border-top-color: #374151; /* gray-700 */
  }
}

.animate-slow-fade {
  animation: slow-fade 2s infinite ease-in-out;
}